venv
.vscode
__pycache__
.pytest_cache
sim_build/
sim_build_l1/
sim_build_l2/
sim_build_l2l3/
sim_build_l3/
sim_build_l1_associative/
sim_build_l2_associative/
sim_build_l3_associative/
sim_build_top_associative/